* {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    /* VARIÁVEIS */
    --bg: #292E35;
    --main: #42CF89;
    --fnt: #ffffff;
    /* endVARIÁVEIS */
}

body {
    /* remover espaços laterais da página com o navegador */
    margin: 0;
    padding: 0;
    /* ------------------------------------------------- */
}

/* remover setas input type number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}


/* MÓDULO criarProjeto */
form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
legend {
  text-align: center;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 15px;
  /* font-size: 18px; */
}
fieldset {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  border: none;
}
label {
  align-self: flex-start;
  padding-left: 1.5rem;
  margin-top: 10px;
}

input[type="text"] {
  margin-top: 10px;
  width: 90%;
  height: 30px;
  padding: 2px;
}

.erro {
  /* width: 100%;
  background-color: #ff0000;
  height: 20px;
  color: #fff; */
  color: #ff0000;
}

.alert {
  /* width: 100%;
  background-color: rgb(20, 145, 35);
  height: 20px;
  color: #fff; */
  color: rgb(20, 145, 35);
  margin: auto;
  text-align: center;
}
/* endMÓDULO criarProjeto */

/* BLOCOS */

table caption {
  caption-side: bottom;
}

.container_main {
  margin: auto;
  width: 1000px;
}

h1 {
  background-color: var(--main);
  padding: 5px;
  color: var(--fnt);
}

th, td {
	height: 20px;
	vertical-align: middle;
	text-align: center;
	border: 0.76px solid #000000;
}